<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>

<body>
    <h1> Search for Recipes</h1>

    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit">search</button>

    </form>

    <br>

    {% if recipe_df %}
    {{recipe_df|safe}}
    <br>
    <img src="data:image/png;base64, {{chart|safe}}">
    {% else %}
    <h3> no data</h3>
    {% endif %}

    <br>
    <a href="{%url 'logout' %}"> Logout </a>
    <br>
    <br>
</body>

</html>